@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger

<FluentLayout>
    <FluentHeader>
        PGMQ Admin
        <FluentSpacer />
        <StatusIndicator />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentNavMenu Width="200" Collapsible="true" Title="Navigation">
            <FluentNavLink Href="/" Match="NavLinkMatch.All">Queues</FluentNavLink>
            <FluentNavLink Href="/health">Health</FluentNavLink>
        </FluentNavMenu>
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="error">
                    <div class="blazor-error-boundary">@error.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Fluent UI Blazor</a>
        <FluentSpacer />
        <span>PGMQ Admin UI</span>
    </FluentFooter>
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
